/* ヘッダー */
header {
  height:100px;
  margin-bottom: 50px;
}

div.row {
  margin: 10px;

}

div.thumbnail:hover{
  transform: scale(1.05);

}

div.img-circular img{

  border: 1px solid black;
  border-radius: 50px 50px;
  margin-left: 5px;
  margin-right: 10px;
  float: left;
 
}

div.img-circular img:hover{
  transform: scale(1.05);

}


div.bio{
  margin-top: 10px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} 

nav li {
  float: left;
  list-style-type: none;
}

.active {
  background-color: #333;
}  

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

} 

nav li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}



.gallery {
  text-align: center;
/*  margin: 10px 50px; */

}

.gallery img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: ls;
  border-radius: 20px;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.05);

}


footer {
  float:right;
}
article {
  overflow: hidden;
  margin-top: 10px;
}

article.blog {
  line-height: 32px;
  margin: 15px;
}

.top_header {
  background-color:blue;
  color:white;
  padding:5px;

}


.header {
  background-color: black;
  color:white;
  padding:5px;

}


/* スライドショー */
.flexslider {
  height:300px;
  margin:auto;
  overflow:hidden;
  width:500px;
}
.flexslider .slides img {
  margin-left:auto;
  margin-right:auto;
  max-height:300px;
  width:auto;
}
/* 関連サイトへのリンクボタン */
.linksite {
 * width:100px;
}

.border{
   margin: 30px;
   border-style: dotted solid;
}

aside li{
  list-style-type: none;
}

aside {
  margin-left: 20px;
}

/* お知らせ */
#information {
  color: blue;
}



  .drop {
  background: url(../images/drop.png);
  height: 32px;
  width: 32px;
  left: 1px;
  top: 1px;
  position: absolute;
  z-index: -1;
  }


